<form class="mailchimp-form" action="https://prelom.us7.list-manage.com/subscribe/post?u=7cac460297578bb4e3a8622c0&amp;id=5fb9dac49e" method="post" target="_blank" novalidate>
  <p>Ако искате да получавате известия по имейл за нови събития, материали и инициативи от Прелом, можете да се запишете тук:</p>
  <h2>Aбонамент за мейлинг лист</h2>
  <p><small>* задължително поле</small></p>
  <p>
    <label for="mc-email">Вашия email *
      <input id="mc-email" type="email" name="EMAIL" required autocomplete="email">
    </label>
  </p>
  <p>
    <label for="mc-fname">Име
      <input id="mc-fname" type="text" name="FNAME" autocomplete="given-name">
    </label>
  </p>
  <p>
    <label for="mc-lname">Фамилия
      <input id="mc-lname" type="text" name="LNAME" autocomplete="family-name">
    </label>
  </p>
  <div style="position:absolute;left:-5000px" aria-hidden="true">
    <input type="text" name="b_7cac460297578bb4e3a8622c0_5fb9dac49e" tabindex="-1" value="">
  </div>
  <p>
    <button type="submit" class="btn btn--primary" name="subscribe">Запиши се</button>
  </p>
</form>
